name: Aggregate

on: 
    # schedule:
    # - cron: '0 0 * * *'
    [push]
        
        
    

jobs:
    aggregate:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: Set up Python 3.10
          uses: actions/setup-python@v3
          with:
            python-version: "3.10"
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install poetry
            poetry install
        - name: Aggregate the data
          run: |
            poetry run workflowhub-graph-source-crates
            poetry run workflowhub-graph-merge merged.ttl
            # TODO store artifact, to zenodo? to github release (tag daily, make )? to gh pages?
            # TODO: make a nice picture?
            apt update
            apt install -y graphviz
            python <(curl https://raw.githubusercontent.com/oda-hub/rdflib/lesstext/rdflib/tools/rdf2dot.py) merged.ttl  | sfdp -x   -Tpdf > merged.pdf
            poetry run workflowhub-graph-upload



