
# TODO: settle on style standards and enforce them
name: Lint and Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry pylint mypy 
        poetry install --all-extras -vv
    - name: Analysing the code with pylint
      run: |
        poetry run pylint --errors-only $(git ls-files '*.py')
    - name: Testing the code with pytest
      run: |
        poetry run py.test tests/
    
